SECRET_KEY=votre-cle-secrete-ici
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=qrmenu
DB_USER=qrmenu_user
DB_PASSWORD=votre-mot-de-passe
DB_HOST=localhost
DB_PORT=5432

LANGUAGE_CODE=fr
TIME_ZONE=Europe/Paris
