# Django
SECRET_KEY=votre-cle-secrete-tres-longue-et-aleatoire
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de données PostgreSQL
DB_NAME=qrmenu
DB_USER=qrmenu_user
DB_PASSWORD=votre-mot-de-passe
DB_HOST=localhost
DB_PORT=5432

# Langue
LANGUAGE_CODE=fr
TIME_ZONE=Europe/Paris

# Super Admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@qrmenu.com
DJANGO_SUPERUSER_PASSWORD=changez-moi
